nathanDTD.DTD

<!-- Copy Content ID -->
<!ELEMENT Root (record+)>
<!ELEMENT record (item+)>
<!ATTLIST record name CDATA #REQUIRED >
<!ATTLIST record type (content) #REQUIRED>

<!ELEMENT item (value*)>
<!ATTLIST item name (COPY|CONTENT_ID|BUSINESS_ID|LOCALE_ID|APP_ID|NAME|TEXT|VARIABLE_COPY|START_DATE|END_DATE|START_DATE_NO_TIME|END_DATE_NO_TIME|ACTIVE|SET_NOTIFICATION|NOTIFICATION_MESSAGE|TEMPLATE|PROPERTY|PERSONALIZATION_ATTRIBUTES|PROMO_CODE|ELIGIBLE_DATA|GROUP_TYPE|SUBGROUP_TYPE|CONFIG_DETAILS) #IMPLIED>
<!ATTLIST item value CDATA #IMPLIED>

<!ELEMENT value (item+)>
